/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  background-color:#272427;
  color: #ddd;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::-moz-selection {
  background: #2ab34b;
  text-shadow: none;
}

::selection {
  background: #2ab34b;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.button-group {
  display: flex;
}
button {
  cursor: pointer;
  color: inherit;
  background: #333;
  border: none;
  padding: 0.5em 1em;
}
button:hover {
  background: #444;
}
button:focus {
  outline: 1px solid #2ab34b;
}
.CodeMirror {
  height: 100% !important;
}
#canvas {
  background-image: linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333 100%),linear-gradient(45deg, #333 25%, #555 25%, #555 75%, #333 75%, #333 100%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  transition: all 1s ease;
  border-top: 5px solid #fff;
  /* border-left: 5px solid #fff; */
  border-image: repeating-linear-gradient(90deg,
  #fff 10px, #fff 11px, #000 12px, #000 20px,
  #fff 20px, #fff 21px, #000 22px, #000 30px,
  #fff 30px, #fff 31px, #000 32px, #000 40px,
  #fff 40px, #fff 41px, #000 42px, #000 50px,
  #2ab34b 50px, #2ab34b 51px
    );
  /* border-image-outset: 1; */
  border-image-repeat: repeat;
  border-image-width: 4px;
  border-image-slice: 10;
  box-sizing: border-box;
  height: calc(100vh - 5em);
  position: absolute;
  top: 5em;
  left: 0;
  right: 25%;
  margin: auto;
  width: 75%;
  max-width:100%;
  max-height:100%;
}
.cm_wrap {
  height: calc(100vh - 5em);
  position: absolute;
  top: 5em;
  left: 0;
  right: 25%;
  margin: auto;
  width: 100%;
  z-index: 1;
}
.modal {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  z-index: 1;
  padding: 1em;
  top: 0;
  min-height: 100vh;
  position: absolute;
}
#modal_close {
  float: right;
}
.image-size {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  background: #2ab34b;
  padding: 0.25em;
  border-radius: 8px;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
}
.menu li {
  display: initial;
  flex: 0 1 23%;
  margin: 1%;
  padding: 2%;
  position: relative;
  max-height: 20em;
  text-align:center;
  background: #222
}
#menu_close {
  float: right;
}
.images ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.images li {
  display: flex;
  background-image: linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333 100%),linear-gradient(45deg, #333 25%, #555 25%, #555 75%, #333 75%, #333 100%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  flex: 0 1 23%;
  margin: 1%;
  padding: 2%;
  position: relative;
  max-height: 20em;
}
.images a {
  position: absolute;
  bottom: 1%;
  font-size: 0.6em;
  margin: 0;
  left: 1%;
  color: #fff;
}
.images img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
#design_tool {
  display: flex;
  flex-wrap: wrap;
}
#toolbar {
  display: flex;
  flex: 0 0 100%;
  background: #000;
  padding: 1em;
  white-space: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  user-select: none;
}
#toolbar > *:not(:last-child) {
  margin-right: 1em;
}
#toolbar .input-group {}
#toolbar .input-group input, #toolbar .input-group select {
  flex: 0 0 2em;
}
.quick_tool  {
  background: red;
  float: right;
  width: 50px;
  height: 20px;
  position: relative;
  top: -20px;
}
.block {
  border: 1px solid #423d42;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
  max-width: 100%;
}
#tab_buttons {}
#tab_buttons button {
  background: none;
  border : none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0.5em 1em;
  margin-right: 0.25em;
  outline: none;
}
#tab_buttons button.active {
  background:#131113;
}
#editor {
  width: 25vw;
  position: fixed;
  right: 0;
  top: 5em;
}
#tab_panels {
  height: calc(100vh - 5em);
  overflow-y: auto;
  padding: 1em;
  background:#131113;
}
.panel {
  border: 1px solid #423d42;
  padding: 1em;
  margin-bottom: 1em;
}
.editor_panel {
  display: none;
}
.editor_active {
  display: initial;
}
.panel h2 {
  margin-top: 0;
}
.input-group {
  display: flex;
  align-items: start;
  padding-bottom: 0.25em;
}
.input-group label {
  flex: 1 0 50%;
}
.input-group input, .input-group select {
  flex: 1 0 50%;
  width: 3em;
  background:#4c494d;
  color:#ddd;
  border: none;
  line-height: 1.25;
  padding: .25em;
}
.input-group option {
  font-size: 0.8em;
}
.input-group .units {
  flex: 1 0 25%;
  text-transform: none;
}
.input-group .has-units {
  flex: 1 0 25%;
  padding: .75px;
}

.button-group {
  border-radius: 1em;
  overflow: hidden;
}
.button-group  button:not(:last-child){
  border-right: 1px solid #222;
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

.radio-buttons {
  display: inline-flex;
  border-radius: 1em;
  overflow: hidden;
}
.radio-buttons label {
  background: #333;
  color:#fff;
  padding: 0.5em 1em;
}
.radio-buttons input{
  display: none;
}
.radio-buttons input:checked + label {
  background: #888;
}
.tablet-tooltip {
  display: none;
}
.editor_open #toolbar {
  justify-content: start;
}
.editor_open .visual_control, .code_control {
  display: none;
}
.editor_open .code_control {
  display: inherit;
}
@media only screen and (max-width: 1680px) {
  button:hover .tablet-tooltip, label:hover .tablet-tooltip {
    background: rgba(42, 179, 75, 0.5);
    display: inherit;
    position: absolute;
    top: 0;
    padding: 0.25em;
    border-radius: 5px;
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 1680px) {
  .tablet-tooltip {
    display: initial;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
